// about styles

.sectionAbout {
  	background: $mercury90;
  	svg {
  		@include svg-styles;
	}
}

.wrapperAbout {
	display: flex;
	flex-direction: column;
	background: $white90;
	border: 2px solid $palmas;
}

.wrapperAboutMain {
	width: 100%;
	display: flex;
	flex-direction: row;
	border-bottom: 2px solid $palmas;
}

.aboutText {
	width: 75%;
	padding: 0 1.8rem;
	border-right: 2px solid $palmas;
	a {
		font-size: 1.6rem;
		color: $tradewind;
		text-transform: none;
		text-decoration: underline;
	}
	a:hover,
	a:active,
	a:focus {
		color: darken($tradewind, 15%);
	}
}

.aboutTitle {
	position: relative;
	width: 25%;
	padding: 1.4rem 1.8rem;
	text-align: right;
}

.wrapperSkills {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.skillsTitle {
	position: relative;
	width: 25%;
	padding: 1.4rem 1.8rem;
	border-right: 2px solid $palmas;
}

.skillsText {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.4rem 1.8rem;
}

.skillsTextItem {
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.skillsTextItemTitle {
	width: 23%;
	h3 {
		margin-bottom: 1.4rem;
		line-height: 2.4rem;
	}
	h3:last-child {
		margin-bottom: 0;
	}
}

.skillsTextItemList {
	width: 77%;
	li {
		display: inline;
		font-size: 1.6rem;
	  	font-weight: 400;
	  	line-height: 2.4rem;
	  	color: $thunder;
	}
	li:after {
		content: " | ";
		color: $nobel;
	}
	li:last-child:after {
		content: none;
	}
}

// media queries

@media all and (max-width: 950px) {
	.skillsTextItemTitle {
		width: 25%;
	}
	.skillsTextItemList {
		width: 75%;
	}
}

@media all and (max-width: 900px) {
	.skillsTextItemTitle {
		width: 28%;
	}
	.skillsTextItemList {
		width: 72%;
	}
}

@media all and (max-width: 800px) {
	.skillsTextItemTitle {
		width: 30%;
	}
	.skillsTextItemList {
		width: 70%;
	}
}

@media all and (max-width: 750px) {
	.skillsTextItemTitle {
		width: 32%;
	}
	.skillsTextItemList {
		width: 68%;
	}
}

@media all and (max-width: 700px) {
	.skillsTextItemTitle {
		width: 35%;
	}
	.skillsTextItemList {
		width: 65%;
	}
}

@media all and (max-width: 600px) {
	.wrapperAboutMain {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.aboutTitle {
		order: 1;
		width: 100%;
		border-bottom: 2px solid $palmas;
		h2 {
			margin-bottom: 1rem;
		}
	}
	.aboutText {
		order: 2;
		width: 100%;
		border-right: none;
	}
	.wrapperSkills {
		flex-direction: column;
		flex-wrap: wrap;
	}
	.skillsTitle {
		width: 100%;
		border-right: none;
		border-bottom: 2px solid $palmas;
		h2 {
			margin-bottom: 1rem;
		}
	}
	.skillsTextItemTitle {
		width: 30%;
	}
	.skillsTextItemList {
		width: 70%;
	}
	.skillsText {
		width: 100%;
	}
	#svgAbout line,
	#svgSkills line {
		stroke-width: 14;
	}
}

@media all and (max-width: 500px) {
	.skillsTextItem {
		flex-direction: column;
	}
	.skillsTextItemTitle,
	.skillsTextItemList {
		width: 100%;
	}
}

@media all and (max-width: 400px) {
	.aboutTitle,
	.skillsTitle {
		h2 {
			margin-bottom: 2rem;
		}
	}
}

// end of about styles 