// contact styles

.sectionContact {
  	background: $mercury90;
    svg {
  		@include svg-styles;
	}
}

.wrapperContact {
	display: flex;
	flex-direction: row;
	background: $white90;
	border: 2px solid $palmas;
}

.contactTitle {
	position: relative;
	width: 25%;
	padding: 1.4rem 1.8rem;
	border-right: 2px solid $palmas;
}

.contactText {
	width: 50%;
	padding: 0 2.4rem 0 1.8rem;
	border-right: 2px solid $palmas;
	p {
		font-size: 1.6rem;
		line-height: 2.4rem;
	}
}

.wrapperContactItems {
	width: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contactItem {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 2px solid $palmas;
	&:last-child {
		border-bottom: none;
	}
	a {
		display: block;
		width: 100%;
		z-index: 299;
		padding: 1.6rem;
		font-size: 1.6rem;
		color: $thunder;
	}
	a:hover + .contactItemBg,
	a:active + .contactItemBg,
	a:focus + .contactItemBg {
		background: lighten($palmas, 10%);
	}
	i {
		font-size: 1.8rem;
		margin-right: 1rem;
	}
	.contactItemBg {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		background: lighten($palmas, 20%);
	}
}

// media queries

@media all and (max-width: 900px) {
	.wrapperContact {
		flex-wrap: wrap;
	}
	.contactTitle {
		order: 1;
		width: 50%;
	}
	.contactText {
		order: 3;
		width: 100%;
		border-right: none;
		border-top: 2px solid $palmas;
	}
	.wrapperContactItems {
		order: 2;
		width: 50%;
	}
}

@media all and (max-width: 500px) {
	.contactTitle {
		width: 100%;
		border-right: none;
		h2 {
			margin-bottom: 1rem;
		}
	}
	.contactText {
		order: 2;
		width: 100%;
		border-bottom: 2px solid $palmas;
	}
	.wrapperContactItems {
		order: 3;
		width: 100%;
	}
	#svgContact line {
		stroke-width: 14;
	}
}

@media all and (max-width: 450px) {
	.contactTitle {
		h2 {
			margin-bottom: 2rem;
		}
	}
	#svgContact line {
		stroke-width: 12;
	}
}

@media all and (max-width: 400px) {
	.contactTitle {
		h2 {
			margin-bottom: 2.5rem;
		}
	}
}

@media all and (max-width: 350px) {
	.contactTitle {
		h2 {
			margin-bottom: 3rem;
		}
	}
}

// end of contact styles