// general styles

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  background: white;
  background-image: url(../images/bg-grid.png);
  background-attachment: fixed;      
}

section {
	width: 100%;
  padding: 15rem 0;
}

.wrapperOuter {
	max-width: 1000px;
	width: 75%;
	margin: 0 auto;
}

ul {
  list-style: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

.hide {
  opacity: 0;
}

// end of general styles