// fixed nav styles

nav {
	display: none;
	width: 100%;
	position: fixed;
	z-index: 999;
	svg {
  		@include svg-styles;
	}
}

.wrapperNav {
	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: space-between;
  	text-align: right;
  	border: 2px solid $tangerine;
}

.navItem {
  	width: 25%;
  	padding: 2rem 1.3rem 0.6rem 1.3rem;
  	background: $white90;
  	border-right: 2px solid $tangerine;
  	a {
  		font-size: 2rem;
  		z-index: 299;
  	}
}

.navHome {
	position: relative;
	text-align: left;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.6rem 1.3rem;
}

.navHome .jay {
	text-align: right;
	width: 100%;
}

.navHome .vee {
	align-self: flex-end;
}

.navContact {
	border-right: none;
}

// media queries

@media all and (max-width: 600px) {
	.wrapperNav {
		flex-wrap: wrap;
	}
	.navItem {
  		width: 50%;
  		border: none;
  	}
  	.navHome,
  	.navAbout {
  		border-bottom: 2px solid $tangerine;
  	}
  	.navHome,
  	.navWork {
  		border-right: 2px solid $tangerine;
  	}
}

@media all and (max-width: 500px) {
	.navItem {
	  	padding: 1.5rem 1.3rem 0.6rem 1.3rem;
	  	a {
	  		font-size: 1.8rem;
	  	}
	}
	.navHome {
		padding: 0.2rem 1.3rem;
	}
}

// end of nav styles
