// header styles

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: $tradewind;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
  letter-spacing: 2px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.6rem;
  color: $thunder;
}

// paragraph styles

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 1.6rem 0;
  color: $thunder; 
}

// link styles

a {
  font-size: 2.4rem;
  font-weight: 400;
  color: $thunder;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover,
a:active,
a:focus {
  color: $tradewind;
}

.linkX {
  font-size: 2.4rem;
  fill: $thunder;
}

.linkX:hover,
.linkX:active,
.linkX:focus {
  fill: $tradewind;
  transition: fill 0.2s ease;
}

// media queries

@media all and (max-width: 500px) {
  h2 {
    font-size: 1.8rem;
  }
}

// end of typography styles