// variables

$tradewind: rgba(110,183,158,1);
$tangerine: rgba(255,145,99,1);
$palmas: rgba(208,221,65,1);
$palmas90: rgba(208,221,65,0.9);
$thunder: rgba(76,76,76,1);
$nobel: rgba(179,179,179,1);
$mercury: rgba(230,230,230,1);

// end of variables