article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

@-webkit-keyframes fadeInNames {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInNames {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeInNav {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInNav {
  0% {
    opacity: 0; }
  60% {
    opacity: 0; }
  100% {
    opacity: 1; } }

h1, h2, h3, h4 {
  font-weight: 400;
  text-transform: uppercase;
  color: #6eb79e;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 6rem;
  letter-spacing: 2px; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.6rem; }

h4 {
  font-size: 1.6rem;
  color: #4c4c4c; }

p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  margin: 1.6rem 0;
  color: #4c4c4c; }

a {
  font-size: 2.4rem;
  font-weight: 400;
  color: #4c4c4c;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }

a:hover,
a:active,
a:focus {
  color: #6eb79e; }

.linkX {
  fill: #4c4c4c; }

.linkX:hover,
.linkX:active,
.linkX:focus {
  fill: #6eb79e;
  -webkit-transition: fill 0.2s ease;
          transition: fill 0.2s ease; }

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif; }

body {
  margin: 0px;
  padding: 0px;
  background: white;
  background-image: url(../images/bg-grid.png);
  background-attachment: fixed; }

section {
  width: 100%;
  padding: 10rem 0; }

.wrapperOuter {
  max-width: 1000px;
  width: 75%;
  margin: 0 auto; }

ul {
  list-style: none; }

ul, li {
  margin: 0;
  padding: 0; }

.hide {
  opacity: 0; }

@media all and (max-width: 1000px) {
  html {
    font-size: 9px; } }

@media all and (max-width: 900px) {
  html {
    font-size: 8.5px; } }

@media all and (max-width: 800px) {
  html {
    font-size: 8.5px; } }

nav {
  display: none;
  width: 100%;
  position: fixed;
  z-index: 999; }
  nav svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.wrapperNav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  border: 2px solid #ff9163; }

.navItem {
  width: 25%;
  padding: 2rem 1.3rem 0.6rem 1.3rem;
  background: rgba(255, 255, 255, 0.9);
  border-right: 2px solid #ff9163; }

.navItem a {
  font-size: 2rem;
  z-index: 299; }

.navHome {
  position: relative;
  text-align: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6rem 1.3rem; }

.navHome .jay {
  text-align: right;
  width: 100%; }

.navHome .vee {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end; }

.navContact {
  border-right: none; }

@media all and (max-width: 600px) {
  .wrapperNav {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .navItem {
    width: 50%;
    border: none; }
  .navHome,
  .navAbout {
    border-bottom: 2px solid #ff9163; }
  .navHome,
  .navWork {
    border-right: 2px solid #ff9163; } }

.sectionIntro {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.9); }

.svgIntroText {
  font-family: 'Montserrat', sans-serif; }

.svgIntroText-name {
  -webkit-animation: fadeInNames 4s ease;
          animation: fadeInNames 4s ease; }

.svgIntroText-nav {
  -webkit-animation: fadeInNav 5s ease;
          animation: fadeInNav 5s ease; }

.sectionAbout {
  background: rgba(230, 230, 230, 0.9); }
  .sectionAbout svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.wrapperAbout {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #d0dd41; }

.wrapperAboutMain {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 2px solid #d0dd41; }

.aboutText {
  width: 75%;
  padding: 0 1.8rem;
  border-right: 2px solid #d0dd41; }

.aboutText a {
  font-size: 1.6rem;
  color: #6eb79e;
  text-transform: none;
  text-decoration: underline; }

.aboutText a:hover,
.aboutText a:active,
.aboutText a:focus {
  color: #489178; }

.aboutTitle {
  position: relative;
  width: 25%;
  padding: 1.4rem 1.8rem;
  text-align: right; }

.wrapperSkills {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }

.skillsTitle {
  position: relative;
  width: 25%;
  padding: 1.4rem 1.8rem;
  border-right: 2px solid #d0dd41; }

.skillsText {
  width: 75%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.4rem 1.8rem; }

.skillsTextItem {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 1rem; }
  .skillsTextItem:last-child {
    margin-bottom: 0; }

.skillsTextItemTitle {
  width: 23%; }
  .skillsTextItemTitle h3 {
    margin-bottom: 1.4rem;
    line-height: 2.4rem; }
  .skillsTextItemTitle h3:last-child {
    margin-bottom: 0; }

.skillsTextItemList {
  width: 77%; }
  .skillsTextItemList li {
    display: inline;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #4c4c4c; }
  .skillsTextItemList li:after {
    content: " | ";
    color: #b3b3b3; }
  .skillsTextItemList li:last-child:after {
    content: none; }

@media all and (max-width: 950px) {
  .skillsTextItemTitle {
    width: 25%; }
  .skillsTextItemList {
    width: 75%; } }

@media all and (max-width: 900px) {
  .skillsTextItemTitle {
    width: 28%; }
  .skillsTextItemList {
    width: 72%; } }

@media all and (max-width: 800px) {
  .skillsTextItemTitle {
    width: 30%; }
  .skillsTextItemList {
    width: 70%; } }

@media all and (max-width: 750px) {
  .skillsTextItemTitle {
    width: 32%; }
  .skillsTextItemList {
    width: 68%; } }

@media all and (max-width: 750px) {
  .skillsTextItemTitle {
    width: 35%; }
  .skillsTextItemList {
    width: 65%; } }

@media all and (max-width: 600px) {
  .wrapperAboutMain {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .aboutTitle {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    border-bottom: 2px solid #d0dd41; }
    .aboutTitle h2 {
      margin-bottom: 1rem; }
  .aboutText {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    border-right: none; }
  .wrapperSkills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .skillsTitle {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #d0dd41; }
  .skillsText {
    width: 100%; }
  #svgAbout line,
  #svgSkills line {
    stroke-width: 14; } }

.sectionWork {
  background: rgba(179, 179, 179, 0.9); }
  .sectionWork svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.wrapperWork {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #ff9163;
  margin-bottom: 10rem; }
  .wrapperWork:last-child {
    margin-bottom: 0; }

.workImg {
  width: 37.5%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.8rem; }
  .workImg img {
    width: 100%; }

.wrapperWorkEven .workImg {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }

.workText {
  width: 37.5%;
  padding: 1.8rem 1.8rem 0 1.8rem;
  border-left: 2px solid #ff9163;
  border-right: 2px solid #ff9163; }

.wrapperWorkEven .workText {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  border-left: none; }

.workTitle {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .workTitle h2 {
    margin-bottom: 2rem; }
  .workTitle p {
    font-size: 2rem;
    color: #6eb79e;
    margin: 0;
    padding: 0; }

.wrapperWorkOdd .workTitle h2 {
  text-align: right; }

.wrapperWorkEven .workTitle {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  border-right: 2px solid #ff9163; }
  .wrapperWorkEven .workTitle p {
    text-align: right; }

.workTitleItem {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.8rem;
  border-bottom: 2px solid #ff9163; }
  .workTitleItem:last-child {
    border-bottom: none; }

.workTitleMain {
  position: relative;
  padding: 1.4rem 1.8rem;
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.workTitleSkills {
  padding-right: 2.4rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  color: #4c4c4c; }
  .workTitleSkills li {
    display: inline; }
  .workTitleSkills li:after {
    content: " | ";
    color: #b3b3b3; }
  .workTitleSkills li:last-child:after {
    content: none; }

.workTitleButton {
  padding: 0;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
      -ms-flex-positive: 0;
          flex-grow: 0; }
  .workTitleButton a {
    display: inline-block;
    width: 100%;
    padding: 1.8rem;
    font-size: 1.6rem;
    background: #ffc7b0;
    color: #4c4c4c; }
  .workTitleButton a:hover,
  .workTitleButton a:active,
  .workTitleButton a:focus {
    background: #ffb596; }

@media all and (max-width: 900px) {
  .wrapperWork {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .workImg {
    width: 100%;
    border-top: 2px solid #ff9163;
    text-align: center;
    padding: 4rem; }
    .workImg img {
      width: 75%; }
  .wrapperWorkOdd .workImg {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3; }
  .wrapperWorkEven .workTitle,
  .wrapperWorkOdd .workTitle {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 50%; }
  .wrapperWorkEven .workTitle {
    border-right: none; }
  .wrapperWorkEven .workText,
  .wrapperWorkOdd .workText {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 50%;
    border-left: none; } }

.sectionContact {
  background: rgba(230, 230, 230, 0.9); }
  .sectionContact svg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0; }

.wrapperContact {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #d0dd41; }

.contactTitle {
  position: relative;
  width: 25%;
  padding: 1.4rem 1.8rem;
  border-right: 2px solid #d0dd41; }

.contactText {
  width: 50%;
  padding: 0 2.4rem 0 1.8rem;
  border-right: 2px solid #d0dd41; }
  .contactText p {
    font-size: 1.6rem;
    line-height: 2.4rem; }

.wrapperContactItems {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contactItem {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #d0dd41; }
  .contactItem:last-child {
    border-bottom: none; }
  .contactItem a {
    display: block;
    width: 100%;
    z-index: 299;
    padding: 1.6rem;
    font-size: 1.6rem;
    color: #4c4c4c; }
  .contactItem a:hover + .contactItemBg,
  .contactItem a:active + .contactItemBg,
  .contactItem a:focus + .contactItemBg {
    background: #dbe56c; }
  .contactItem i {
    font-size: 1.8rem;
    margin-right: 1rem; }
  .contactItem .contactItemBg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    background: #e5ec98; }

@media all and (max-width: 900px) {
  .wrapperContact {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .contactTitle {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    width: 50%; }
  .contactText {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    width: 100%;
    border-right: none;
    border-top: 2px solid #d0dd41; }
  .wrapperContactItems {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 50%; } }

footer {
  width: 100%;
  margin: 0 auto;
  background: rgba(230, 230, 230, 0.9);
  text-align: center; }
  footer p {
    font-size: 1.4rem;
    margin: 0;
    padding: 0 0 2.4rem 0;
    color: #999999; }
